@model List<ShoppingStore.DAL.Tbl_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Categories</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Category Details
            <a href="../Admin/AddCategory" class="btn btn-success btn-sm pull-right"> Add <i class="fas fa-plus-circle"></i></a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var item in Model)
                {   
                    <tr>
                        <td>@(Model.IndexOf(item)+1)</td>
                        <td>@item.CategoryName</td>
                        <td>
                            @Html.ActionLink("Edit", "CategoryEdit", new { catId = item.CategoryId })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>